.name-heighlight{
    font-family:  fantasy;
    font-size: 30px;
    color: rgba(7, 5, 37, 0.788); 
}
.name-heighlight-1{
    font-family:  fantasy;
    font-size: 30px;
    color: rgba(226, 33, 33, 0.801); 
}
body{
    margin: 0%;
    padding: 0%;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 1%;
}
.half-width img{
    width: 65%;  

}
section{
    height: 500px;
}
.linked-in :hover{
    cursor: pointer;
}
p{
    color: dimgray;
    width:70%;
}
.linked-in{
    
    background-color: rgb(218, 76, 76);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-family:'Courier New';
}
.linked-in:hover{
    color: rgb(22, 27, 24);
    font-weight: bold;
}
.last{
    color: rgba(226, 33, 33, 0.801); 
    font-family:sans-serif;
    font-style: normal;

}
.lets{
    text-align: center;
}
.box{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 1%;
    
}
.box img{
    width: 90%;
}
.box h3{
    color: rgba(7, 5, 37, 0.788); 
}
.box-design{
    box-shadow: 10px 10px 15px rgb(206, 186, 186);
    border-radius: 10px;
    height: 50%;
    background-color: aliceblue;
    height: 65%;
}
.bg{
    background: url(images/bg.png);
    background-size: cover;
    height:150px;
    width:800px;
    margin-left:19%;
    margin-top:2%;
    border-radius: 15px;
}

.work{
    font-size: 15px;
    color: white;
    
}
.bg h2{
    color: white;
    text-align: center;
    padding-right: 50%;
    padding-top: 7%;
    font-family:sans-serif;
    font-weight:bold;

}
.bga{
    
    text-align: right;
    margin-top:-5%;
    font-family:sans-serif;
    font-weight:bold;
    margin-right:150px;
    

}
.foot{
    padding-top: 2%;
    height: 100px;
}
.stay{
    text-align: center;
    font-size: larger;
}
.icon{
    padding-left: 45%;
}
.icon img{
    width: 6%;
    cursor: pointer;
}
.foot h5{
    color: dimgray;
    
}


